@media only screen and (max-width: 883px) {
  .logo {
    width: 5%;
    height: 5%;
  }
  .heading {
    font-size: 3vw;
  }
  .subheading {
    font-size: 2vw;
  }

  #send-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

@media only screen and (max-width: 380px) {
  .logo {
    width: 10%;
    height: 10%;
  }
  .heading {
    font-size: 6vw;
  }
  .subheading {
    font-size: 4vw;
  }
}
